<!DOCTYPE html>
<html>
<head>
    <title>The Light</title>
    <script>
        function getIlluminance() {
            fetch('/illuminance')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('illuminance').innerText = data.illuminance;
                });
        }

	function setCurtainState(value) {
            fetch('/curtain/' + value, {method: 'POST'})
                .then(response => response.json())
                .then(data => {
                    document.getElementById('curtainState').innerText = data.state;
                });
        }

        setInterval(getIlluminance, 10 * 1000);
        window.onload = getIlluminance;
    </script>
</head>
<body>
    <h1>Control LED</h1>
    <form action="/on">
        <button type="submit">Turn ON</button>
    </form>
    <form action="/off">
        <button type="submit">Turn OFF</button>
    </form>
    <h2>Current Illuminance: <span id="illuminance">Loading...</span> lux</h2>
    <h1>Curtain</h1>
    <input type="range" min="0" max="10" value="0" id="CurtainSlider" oninput="setCurtainState(this.value)">
    <p>Curtain State: <span id="curtainState">0</span></p>
</body>
</html>
