<!DOCTYPE html>
<html>
<head>
    <title>The Light</title>
    <script>
        function getIlluminance() {
            fetch('/illuminance')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('illuminance').innerText = data.illuminance;
                });
        }

        function getLedBrightness() {
            fetch('/brightness')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('brightness').innerText = data.brightness;
                    document.getElementById('brightnessSlider').value = data.brightness
                });
        }

        function setLedBrightness(value) {
            fetch('/setbrightness/' + value, {method: 'POST'})
                .then(response => response.json())
                .then(data => {
                    document.getElementById('brightness').innerText = data.brightness;
                    document.getElementById('brightnessSlider').value = data.brightness
                });
        }

	    function setCurtainState(value) {
            fetch('/curtain/' + value, {method: 'POST'})
                .then(response => response.json())
                .then(data => {
                    document.getElementById('curtainState').innerText = data.state;
                });
        }

        function getClockState() {
            fetch('/clockstate')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('clockState').innerText = data.clockstate;
                });
        }

        function getClockSleepTIme() {
            fetch('/sleeptime')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('sleepTimeVal').innerText = data.sleeptime;
                });
        }

        function getClockWakeTIme() {
            fetch('/waketime')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('wakeTimeVal').innerText = data.waketime;
                });
        }

        function getUserControlState() {
            fetch('/usercontrol')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('userState').innerText = data.usercontrol;
                });
        }

        setInterval(getIlluminance, 10 * 1000);
        setInterval(getLedBrightness, 10000)
        setInterval(getClockState, 10000)
        setInterval(getClockSleepTIme, 10000)
        setInterval(getClockWakeTIme, 10000)
        setInterval(getUserControlState, 10000)

        window.onload = function() {
            getIlluminance();
            getLedBrightness();
            getClockState();
            getClockSleepTIme();
            getClockWakeTIme();
            getUserControlState();
        };
    </script>
</head>
<body>
    <h1>Illuminance: <span id="illuminance">Loading...</span></h1>
    <hr>

    <h1>LED: <span id="userState"></span></h1>
    <form action="/auto">
        <button type="submit">Auto Mode</button>
    </form>
    <form action="/user">
        <button type="submit">User Mode</button>
    </form>
    <form action="setbrightness">
        <input type="range" min="0" max="100" id="brightnessSlider" onchange="setLedBrightness(this.value)">
    </form>
    <p>LED Brightness: <span id="brightness">Loading...</span></p>
    <hr>
    
    <h1>Curtain</h1>
    <input type="range" min="0" max="10" value="0" id="CurtainSlider" oninput="setCurtainState(this.value)">
    <p>Curtain State: <span id="curtainState">0</span></p>
    <hr>
    
    <h1>Alarm Clock: <span id="clockState"></span></h1>
    <form action="/clockon">
        <button type="submit">Clock On</button>
    </form>
    <form action="/clockoff">
        <button type="submit">Clock Off</button>
    </form>
    <form id="sleepTime" action="/sleep" method="post">
        <input type="time" name="time">
        <button type="submit">set</button>
        Sleep Time: <span id="sleepTimeVal"></span></input>
    </form>
    <form id="wakeTime" action="/wake" method="post">
        <input type="time" name="time">
        <button type="submit">set</button>
        Wake Time: <span id="wakeTimeVal"></span></input>
    </form>
    <hr>
</body>
</html>
